{% extends 'base.html' %}

{% block content %}

<a id="home_button" href="{% url 'home1' %}" >Homepage</a><br>

<h1>The Bisection Method</h1>

<form method="POST" action="{% url 'bisection' %}">
    {% csrf_token %}
    <label for="a">a:</label>
    <input type="number" step="any" name="a"><br>

    <label for="b">b:</label>
    <input type="number" step="any" name="b"><br>

    <label for="tolerance">p0:</label>
    <!-- <input type="number" name="tolerance"> -->
    <input type="number" step="any" name="tolerance"><br>

    <label for="function">function:</label>
    <input type="text" name="function"><br>

    <label for="tolerance">tol.:</label>
    <input type="number" step="any" name="tolerance"><br>

    <label for="float_digits">Floating Digits:</label>
    <input type="number" name="float_digits"><br>


    <button type="submit">Calculate</button>
</form>

{% if result %}
    <ol>
        {% for item in result %}
            <li><p>{{ item.0 }} || {{ item.1 }} || {{ item.2 }} || {{ item.3 }} || {{ item.4 }}</p></li>
        {% endfor %}
    </ol>
  
{% endif %}



{% endblock %}
