{% extends 'base.html' %}

{% block content %}

<a id="home_button" href="{% url 'home1' %}" >Homepage</a><br>

<h1>The FPI Method</h1>

<form method="POST" action="{% url 'FPI' %}">
    {% csrf_token %}

    <label for="a">x0:</label>
    <input type="number" step="any" name="x0"><br>

    <label for="criterion">criterion:</label>
    <input type="number" step="any" name="criterion"><br>

    <label for="float_digits">float digits:</label>
    <input type="number" name="float_digits"><br>

    <label for="func">function:</label>
    <input type="text" name="func"><br>


    <button type="submit">Calculate</button>
</form>

<!-- {% if result %}
    <ol>
        {% for item in result %}
            <li> {{ item }} </li>
        {% endfor %}
    </ol>
  
{% endif %} -->

{% if result %}
    <table style="border-collapse: collapse; width: 100%; text-align: center;">
        <thead>
        <tr>
            <th style="border: 1px solid black; padding: 8px;">n</th>
            <th style="border: 1px solid black; padding: 8px;">P(n-1)</th>
            <th style="border: 1px solid black; padding: 8px;">P(n)</th>
            <th style="border: 1px solid black; padding: 8px;">RE</th>
        </tr>
        </thead>
        <tbody>
            {% for item in result %}
        <tr>
            <td style="border: 1px solid black; padding: 8px;">{{ item.0 }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ item.1 }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ item.2 }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ item.3 }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endif %}

{% endblock %}
