{% extends 'base.html' %}

{% block content %}

<a id="home_button" href="{% url 'home' %}" >Main Homepage</a><br>

        <div class="container">
            <h1>MyProject</h1>
            <p><strong>MyProject</strong> is a <em>simple Django</em> app for tracking projects.</p>
            
            <div class="home_buttons_container">
                <a id="Home_and_Profile_links" href="{% url 'bisection' %}"     >Bisection</a><br>
                <a id="Home_and_Profile_links" href="{% url 'horners' %}"       >Horner's</a><br>
                <a id="Home_and_Profile_links" href="{% url 'FPI' %}"           >FPI</a><br>
                <a id="Home_and_Profile_links" href="{% url 'newtons' %}"       >Newton's</a><br>
                <a id="Home_and_Profile_links" href="{% url 'secant' %}"        >Secant</a><br>
                <a id="Home_and_Profile_links" href="{% url 'regula_falsi' %}"  >Regula Falsi</a><br>
                <a id="Home_and_Profile_links" href="{% url 'falsi_fpi' %}"     >Falsi + FPI</a><br>
                <a id="Home_and_Profile_links" href="{% url 'lagrange_poly' %}" >Lagrange Polynomials</a><br>
                <a id="Home_and_Profile_links" href="{% url 'num_diff' %}"     >Numerical Differentiation</a><br>
                <a id="Home_and_Profile_links" href="{% url 'rectangle_rule' %}"     >Composite Rectangle rule</a><br>
                <a id="Home_and_Profile_links" href="{% url 'trapezoidal_rule' %}"     >Composite Trapezoidal Rule</a><br>
                <a id="Home_and_Profile_links" href="{% url 'simpson_rule' %}"     >Composite Simpson's Rule</a><br>

            </div>
        </div>

{% endblock %}