{% extends 'base.html' %}

{% block content %}

<a id="home_button" href="{% url 'home1' %}" >Homepage</a><br>

<h1>The Composite Rectangle Rule</h1>

<form method="POST" action="{% url 'rectangle_rule' %}">
    {% csrf_token %}
    <label for="a">a:</label>
    <input type="number" step="any" name="a"><br>

    <label for="b">b:</label>
    <input type="number" step="any" name="b"><br>

    <label for="n">n:</label>
    <input type="number" step="any" name="n"><br>

    <label for="float_digits">float digits:</label>
    <input type="number" name="float_digits"><br>

    <label for="func">function:</label>
    <input type="text" name="func"><br>


    <button type="submit">Calculate</button>
</form>

{% if result %}
    <!-- <ul>
        {% for item in result %}
            <li><p>{{ item.0 }} || {{ item.1 }} || {{ item.2 }} || {{ item.3 }}</p></li>
        {% endfor %}
    </ul> -->

    <table style="border-collapse: collapse; width: 100%; text-align: center;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">n</th>
            <th style="border: 1px solid black; padding: 8px;">x_k</th>
            <th style="border: 1px solid black; padding: 8px;">y_k</th>
          </tr>
        </thead>
        <tbody>
            {% for item in result %}
          <tr>
            <td style="border: 1px solid black; padding: 8px;">{{ item.0 }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ item.1 }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ item.2 }}</td>

          </tr>
          {% endfor %}
    
        </tbody>
      </table>

{% endif %}


{% endblock %}
