<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <title>{% block title %}MyProject{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link id="theme-style" rel="stylesheet" href="{% static 'css/light-theme.css' %}">
    <script>
      function toggleTheme() {
        const linkElement = document.getElementById("theme-style");
        const currentTheme = linkElement.getAttribute("href");
        const darkTheme = "{% static 'css/dark-theme.css' %}";
        const lightTheme = "{% static 'css/light-theme.css' %}";
        
        if (currentTheme === lightTheme) {
            linkElement.setAttribute("href", darkTheme);
        } else {
            linkElement.setAttribute("href", lightTheme);
        }
      }

    </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <img class="logo_img" src="{% static 'favicon.png' %}"><a href="{% url 'home' %}" class="logo">Paktinyar's</a>
      <div class="header-right">
        <a class="active" href="{% url 'home' %}">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>

        <div class="login_button_container">
          {% if user.is_authenticated %}
              <a href="{% url 'profile' user.username %}">
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="img">
                  <p>{{ user.username }}</p>
              </a>
          {% else %}
              <a id="calculator_login" href="{% url 'login' %}" >Login</a><br>
              <a id="calculator_signup" href="{% url 'signup' %}" >no account? signup</a>
          {% endif %}

      </div>
      </div>
    </div>
    <div class="theme-button-container">
      <p>Light</p>
      <label class="switch">
          <input type="checkbox" onchange="toggleTheme()">
          <span class="slider"></span>
      </label>
      <p>Dark</p>
    </div>
    <h1>{% block heading %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
</body>
</html>  