{% extends 'base.html' %}

{% block content %}
<h1>The Calculator</h1>
<p>enjoy your Calculator...</p>

<!-- <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="number1">Number1 & Number2:</label>
        <input type="text" name="number1" id="number1" class="form-control">
        <input type="text" name="number2" id="number2" class="form-control">
        {% if result1 %}
            <p>{{ result1 }}</p>
        {% endif %}
   </div>
</form>
</form> -->

<!-- add_numbers_form.html -->
<form method="POST" action="{% url 'calculator' %}">
    {% csrf_token %}
    <label for="num1" id="entries">Number 1:</label>
    <input type="number" name="num1" required>
    <br>
    <label for="num2" id="entries">Number 2:</label>
    <input type="number" name="num2" required>
    <br>
    <button type="submit">Add Numbers</button>

    {% if result %}
        <p id="final_result">The sum is <em>{{ result }}</em></p>
    {% endif %}   
</form>

{% endblock%}