{% extends 'base.html' %}

{% block content %}

<a id="home_button" href="{% url 'main' %}" >Homepage</a><br>

<h1>The Calculator</h1>


<p>enjoy your Calculator...</p>

<!-- add_numbers_form.html -->
<form method="POST" action="{% url 'calculator' %}">
    {% csrf_token %}
        <label for="num1" id="entries">Number 1:</label>
        <input type="number" name="num1" required>
    <br>
        <label for="num2" id="entries">Number 2:</label>
        <input type="number" name="num2" required>
    <br>
        <button type="submit">Add Numbers</button>
    <br>
    {% if result %}
        <p id="final_result">The sum is <em>{{ result }}</em></p>
    {% endif %} 

    <br>
    <br>
        <h2>Other Calculators:</h2>
    <br>
        <a href="{% url 'quad' %}" >Quadratic Equations</a>
    <br>  
    

      
</form>

{% endblock%}