{% extends 'base.html' %}

{% block content %}
<h1>The  Face Recognition Page</h1>

<a id="calculator_login" href="{% url 'login' %}" >Login</a><br>
<a id="calculator_signup" href="{% url 'signup' %}" >no account? signup</a>

    <form method="post" enctype="multipart/form-data" action="{% url 'faceRecog' %}">
    {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload Image</button>
    </form>
    
        {% if image %}
            <img src="{{ image }}" alt="Image uploaded by user">
        {% endif %}
  


{% endblock %}