{% extends 'base.html' %}

{% block content %}
{% load static %}

        <div class="container3">
            <img class="photo" src="{{ MEDIA_URL }}ss.jpeg" alt="Image">
        </div>

        <div class="container1">
            <h1>MyProject</h1>
            <p><strong>MyProject</strong> is a <em>simple Django</em> app for tracking projects.</p>
            
            <div class="home_buttons_container2">
                <!-- <a id="Home_and_Profile_links" href="{% url 'login' %}"         >Login              </a><br>
                <a id="Home_and_Profile_links" href="{% url 'signup' %}"        >no account? signup </a><br> -->

                <div class="main_page_divs">
                    <a id="Home_and_Profile_links" href="{% url 'profiles' %}"      >profiles           </a><br>
                </div>
                
                <div class="main_page_divs">
                    <a id="Home_and_Profile_links" href="{% url 'calculator' %}"    >calc               </a><br>
                </div>
                
                <div class="main_page_divs">
                    <a id="Home_and_Profile_links" href="{% url 'quad' %}"          >quadeq             </a><br>
                </div>

                <div class="main_page_divs">
                    <a id="Home_and_Profile_links" href="{% url 'upload_file' %}"   >upload             </a><br>
                </div>
                
                <div class="main_page_divs">
                    {% if user.is_authenticated %}
                        <a id="Home_and_Profile_links" href="{% url 'Num_Analysis' %}"  >Num-Analysis Calc  </a><br>
                    {% else %}
                    <br><a id="Home_and_Profile_links" href="#"  >Num-Analysis Calc</a><p><em><strong>Num-Analysis Calc</strong>'ll only work if your're logged in.</em></p><br>
                    {% endif %}
                </div>


            </div>

            
            {% if user.is_authenticated %}
                <p>Hi <strong>{{ user.username }}</strong>!</p>
                <div class="main_page_divs_logout">
                    <a id="Home_and_Profile_links" href="{% url 'logout' %}" >logout</a>
                </div>
            {% else %}
                <p>You are not logged in</p>
            {% endif %}
            

            
               

        </div>

{% endblock %}