{% extends 'base.html' %}

{% block content %}
<h1>The Quadratic Equation calculator</h1>
<p>ax<sup>2</sup> + bx + c</p>
<p>a: coeff<sub>1</sub>  &nbsp&nbsp   b: coeff<sub>2</sub>  &nbsp&nbsp  c: bias</p>

<p>enjoy your Calculator...</p>

<form method="POST" action="{% url 'quad' %}">
    {% csrf_token %}
    <label for="coeff1" id="entries">coeeficient<sub>1</sub>:</label>
    <input type="number" name="coeff1" required>
    <br>
    <label for="coeff2" id="entries">coeeficient<sub>2</sub>:</label>
    <input type="number" name="coeff2" required>
    <br>
    <label for="bias" id="entries">bias:</label>
    <input type="number" name="bias" required>
    <br>
    <button type="submit">Calculate</button>

    {% if result_error %}
        <p><strong>{{ result_error }}</strong></p>
    
    {% elif final_result %}
        <p id="final_result">[x<sub>1</sub>, &nbsp x<sub>2</sub>] &nbsp = &nbsp {{ final_result }}</p>
    {% endif %}   
</form>


{% endblock%}