{% extends 'base.html' %}

{% block content %}
{% load static %}

<a id="home_button" href="{% url 'home' %}" >Homepage</a><br>

<h1>The  Face Recognition Page</h1>


    <!-- upload_file.html -->
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    {% if user.is_authenticated %}
        <button type="submit">Upload File ({{ user.username }})</button>
    {% else %}
        <p><strong>You are not logged in </strong>(<em>the upload button will only display when you're logged in.</em>>)</p>
    {% endif %}

    </form>
    {% if bool == 1 %}
        <p>Image uploaded. </p>
        <p>{{ final_pred.0 }}</p>
        <p>{{ final_pred.1 }}</p>
        <p>{{ final_pred.2 }}</p>
        <p>{{ final_pred.3 }}</p>
        <p>{{ final_pred.4 }}</p>
        <img src="/media/{{ uploaded_file_url }}" alt="Uploaded Image">
    {% else %}
        <p>No image uploaded.</p>
    {% endif %}


{% endblock %}